:root {
  --clr-primary: #5f3529;
  --clr-primary-dark: #45261e;
  --clr-primary-light: #6b3b2e;

  --clr-dark-blue: #24505e;
  --clr-light-blue: #388eab;

  --clr-dark-green: #2d5e34;
  --clr-light-green: #5bab66;
}

header {
  background-image: url("../images/wood-background.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center top;
  background-size: cover;
  height: 8rem;
}

/* Custom background colors & btn colors*/
.btn {
  border-color: transparent;
}

.bg-db {
  background-color: var(--clr-dark-blue);
}

.bg-lg {
  background-color: var(--clr-light-green);
}

.btn-secondary,
.bg-lb {
  background-color: var(--clr-light-blue);
}

.btn-secondary:hover,
.btn-secondary:focus {
  background-color: #40a0c0;
}

.btn.btn-secondary:active:focus {
  background-color: #45aed1;
}

.btn-primary,
.bg-dg {
  background-color: var(--clr-dark-green);
}

.btn-primary:hover,
.btn-primary:focus {
  background-color: #3c7c46;
}

.btn.btn-primary:active:focus {
  background-color: #499755;
}

/* Custom text colors */
.clr-db {
  color: var(--clr-dark-blue);
}

.clr-lb {
  color: var(--clr-light-blue);
}

.clr-dg {
  color: var(--clr-dark-green);
}

.clr-lg {
  color: var(--clr-light-green);
}

@media all and (max-width: 768px) {
  /* #region Menu */
  nav {
    margin: 0 0;
    padding: 0 0;
  }

  #accordionSidebar {
    flex-direction: row;
  }

  #accordionSidebar .nav-link {
    font-size: .7rem;
  }
  /* #endregion Menu */

  /* #region PageHeader */
  header {
    max-height: 6rem;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
  }

  h1 {
    font-size: 1.8rem;
  }

  header > h3 {
    font-size: 1rem;
  }
  /* #endregion PageHeader */

  /* #region Reservations */
  .res-text > * {
    font-size: .7rem;
  }

  .btn {
    font-size: .8rem;
  }
  /* #endregion Reservations */
}
